<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Página de Registro.</title>
		<script src="CrearUsuario.js"></script>
	</head>
	<body>
		<h2>Bienvenido a nuestra página de registro.</h2>
		
		<form method="post">
			<input type="text" id="user" name="userId" placeholder="ID de usuario"/>
			<br><br>
			<input type="password" id="password" name="password" placeholder="Contraseña"/>
			<br><br>
			<button id="registrarse-button"">Registrarse</button>
			<br><br>
			<br><br>
			<a th:href=@{/}>Volver.</a>
		</form>
	</body>
</html>