<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Página para cambiar contraseña.</title>
	</head>
	<body>
		<h2>Bienvenido a nuestra página para cambiar tu contraseña.</h2>
		
		<form method="post">
			<input type="text" name="userId" placeholder="ID de usuario"/>
			<br><br>
			<input type="password" name="password" placeholder="Contraseña"/>
			<br><br>
			<input type="password" name="newPassword" placeholder="Nueva Contraseña"/>
			<br><br>
			<button>Cambiar contraseña</button>
			<br><br>
			<br><br>
			<a th:href=@{/}>Salir a la página de inicio.</a>
		</form>
	</body>
</html>